# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: sql.s16.vdl.pl
    database_port: 3306
    database_name: ad9bis_doctrine
    database_user: ad9bis_capuch
    database_password: NrEQ757542
   
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

     mailer_transport: smtp
    mailer_host: sql.s16.vdl.pl
    mailer_user: ad9bis
    mailer_password: NrEQ757542
    secret: MyPrivateZappToken

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
