<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome by Zapp!{% endblock %}</title>
        {% block stylesheets %}
             <link href="/public/css/style.css" type="text/css" rel="stylesheet" />
        {% endblock %}
        {% block javascripts %}
            <script src="/public/js/main.js" type="text/javascript"></script>
        {% endblock %}
        <script>
function setAlert(){
    if(document.send.nameText.value=="" && document.send.emailText.value=="" && document.send.messageText.value==""){
        alert("Nie wypełniono żadnego pola!");
    }
    else if(document.send.nameText.value==""){
        alert("Nie wypełniono pola \"Imię/Nazwisko\"!");
    }
    else if(document.send.emailText.value==""){
        alert("Nie wpisano pola \"Adres e-mail\"!");
    }
    else if(document.send.messageText.value==""){
        alert("Nie wpisano pola \"Wiadomość\"!");
    }
}
function checkEmail(){
    var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
    if(!emailReg.test(document.send.emailText.value))
    {
        var currentText=document.getElementById('mailDiv').value;
        document.getElementById("labelDiv").style.background = 'black';
        document.getElementById("labelDiv").style.color = 'white';
        document.getElementById('mailDiv').value = currentText+" - niepoprawny format adresu email!";
        alert("Niepoprawny format adresu e-mail!");
    }else{
        document.getElementById("labelDiv").style.background = '#690005';
    }
}
</script>
    </head>
    <body>

        {% block body %}

            {% block table -%}
            {% endblock %}
            
            {% block service %}
            {% endblock %}

            {% block inquiries -%}
            {% endblock %}

            {% block footer -%}

                {% block form -%}
                {% endblock %}

                {% block social -%}
                {% endblock %}

                {% block footnote -%}
                {% endblock %}

            {% endblock %}

        {% endblock %}
    
    </body>
</html>
