{% block form -%}

<form name="send" action="homepage" method="post" id="message" class="section" onsubmit="setAlert()">
	<h3 style="font-family: Helvetica">Wyślij wiadomość</h3>
	<ul>
		<li>
			<label>Imię/Nazwisko:</label>
			<input type="text" name="nameText" value="">
		</li>
		<li>
			<label>Adres e-mail:</label>
			<input type="text" name="emailText" placeholder="Proszę podać adres do korespondencji zwrotnej" onblur="checkEmail()">
		</li>
		<li>
			<label>Wiadomość:</label>
			<textarea name="messageText" placeholder="Proszę wpisać treść wiadomości"></textarea>
		</li>
		<li>
			<input type="submit" value="Wyślij">
		</li>
	</ul>
</form>

{% endblock -%}
