{% extends 'MarketSymfonyBundle:Markets:bases.html.twig' %}

{% block title %}
Modele-ad9bis - kontakt
{% endblock %}

{% block body -%}

<div id="page">
					
	{{ include('MarketSymfonyBundle:Markets:table.html.twig') }}

	<div id="contents">
			<div id="contact">
				<h2 style="font-family: Arial;">Zapraszamy do zapoznania się z ofertą sklepu Modele-ad9bis.pl</h2>
				<p style="text-align: justify;">
					Modele-ad9bis.pl jest sklepem internetowym nastawionym na sprzedaż wysyłkową artykułów modelarstwa kolejowego. 
					W naszej ofercie znajdziecie Państwo zarówno współczesne produkty najbardziej popularnych marek (PIKO, ROCO), jak i kolekcjonerskie okazy nieprodukowane od wielu lat (m.in. produkty VEB PIKO z czasów NRD). 
				</p>
				<div class="highlight">
					<h4 style="font-family: Arial;">Profil działalności</h4>
					<p style="text-align: justify;">
						Oprócz sprzedaży gotowych modeli lokomotyw oraz wagonów, sklep internetowy Modele-ad9bis.pl prowadzi sprzedaż części zamiennych oraz elementów wyposażenia makiet w skalach:
					</p>
					<ul>
						<li>
							<h5>H0</h5>
							<p>
								Skala 1:87
							</p>
							<h5>TT</h5>
							<p>
								Skala 1:120
							</p>
							<h5>N</h5>
							<p>
								Skal 1:160
							</p>
						</li>
						<li>
							<h5>Oferta w skali H0</h5>
							<p>
								<a href="http://modele-ad9bis.pl/2-skala-h0" target="blank" title="Oferta w skali 1:87">Modele-ad9bis.pl-H0</a>
							</p>
							<h5>Oferta w skali TT</h5>
							<p>
								<a href="http://modele-ad9bis.pl/3-skala-tt" target="blank" title="Oferta w skali 1:120">Modele-ad9bis.pl-TT</a>
							</p>
							<h5>Oferta w skali N</h5>
							<p>
								<a href="http://modele-ad9bis.pl/4-skala-n" target="blank" title="Oferta w skali 1:160">Modele-ad9bis.pl-N</a>
							</p>
						</li>
					</ul>
				</div>
				<div id="main">
					<img src="/public/images/SNV2.JPG" alt="Img" height="240" width="421">
					<h4 style="font-family: Arial;">Nowa wersja sklepu internetowego</h4>
					<p style="text-align: justify;">
						Zapraszamy również do zapoznania się z nową wersją sklepu internetowego dostępną pod adresem:
						<a href="http://ad9bis.vot.pl/" target="blank" title="Nowa wersja sklepu internetowego">Ad9bis.vot.pl</a>.
						Stałym Klientom oferujemy 3% rabat na wszystkie zakupione przedmioty!
					</p>
				</div>
			</div>
		</div>
		
		{{ include('MarketSymfonyBundle:Markets:footer.html.twig') }}
		
	</div>

{% endblock %}