{% block footer -%}

<div id="footer">
	<div class="background">
		<div class="body">
					
			{{ include('MarketSymfonyBundle:Markets:contactForm.html.twig') }}
					
			{{ include('MarketSymfonyBundle:Markets:social.html.twig') }}

			{{ include('MarketSymfonyBundle:Markets:footnote.html.twig') }}

		</div>
	</div>
</div>

{% endblock %}