{% extends 'MarketSymfonyBundle:Markets:bases.html.twig' %}

{% block title %}
Strona główna
{% endblock %}

{% block body -%}
<div id="page">
					
		{{ include('MarketSymfonyBundle:Markets:table.html.twig') }}

		<div id="contents">
			<div id="adbox">
				<div style="text-align: center;">
					<img src="/public/images/SNV1.JPG" alt="Img" height="390" width="632">
					<h1>Witamy!</h1>
					<h4>Witamy Państwa w terminarzu giełd modelarskich na terenie Polski, Niemiec oraz Austrii!</h4>
					<br>
					<p style="text-align: justify;">
						Na kolejnych stronach znajdziecie Państwo aktualne informacje odnośnie imprez modelarskich na terenie Europy Środkowej (Zachód Niemiec obejmuje wybrane giełdy na terenie Bawarii, Zagłębia Ruhry oraz Dolnej Saksonii; Wschód Niemiec - Berlin oraz Saksonię).
					</p>
				</div>
			</div>
			<div class="sidebar">
				<h4>Przydatne linki</h4>
				<ul>
					<li>
						<span class="time">Giełdy modelarskie w okolicach Berlina</span> <a href="http://www.jmpet.de/termine.htm" target="blank">www.jmpet.de</a>
					</li>
					<li>
						<span class="time">Giełdy modelarskie na południu Niemiec (1)</span> <a href="http://www.modellbahnmarkt-termine.de/event/calendar/list.php" target="blank">www.modellbahnmarkt-termine.de</a>
					</li>
					<li>
						<span class="time">Giełdy modelarskie na południu Niemiec (2)</span> <a href="http://star-maerkte-team.de/terminuebersicht-2010/index.php" target="blank">www.star-maerkte-team.de</a>
					</li>
					<li>
						<span class="time">Giełdy modelarskie na północy Niemiec</span> <a href="http://www.bv-messen.de/" target="blank">www.bv-messen.de</a>
					</li>
					<li>
						<span class="time">Giełdy modelarskie na wschodzie Niemiec</span> <a href="http://www.modellbahnboerse-berlin.de/" target="blank">www.modellbahnboerse-berlin.de/</a>
					</li>
					<li>
						<span class="time">Imprezy modelarskie w Austrii</span> <a href="http://www.bahn-austria.at/termin_00.htm" target="blank">www.bahn-austria.at</a>
					</li>
				</ul>
			</div>
			
			{{ include('MarketSymfonyBundle:Markets:service.html.twig') }}

		</div>
		
		{{ include('MarketSymfonyBundle:Markets:footer.html.twig') }}

	</div>

{% endblock %}