{% extends 'MarketSymfonyBundle:Markets:bases.html.twig' %}

{% block title %}
HT Homepage
{% endblock %}

{% block body -%}
<div id="page">
					
		{{ include('MarketSymfonyBundle:Markets:table.html.twig') }}

		<div id="contents">
			<div id="adbox">
				<div>
					<img src="/public/images/helicopter.jpg" alt="Img" height="390" width="632">
					<h1>Rent a Helicopter</h1>
					<h4>You can remove any link to our website from this website template, you're free to use this website template without linking back to us.</h4>
					<p>
						This is just a place holder, so you can see what the site would look like. This is just a place holder, so you can see what the site would look like.
					</p>
				</div>
			</div>
			<div class="sidebar">
				<h4>Blog</h4>
				<ul>
					<li>
						<span class="time">August 2023 | by <a href="index.html">blogger</a></span> <a href="blog.html">This is just a place holder, so you can see what the site would look like</a>
					</li>
					<li>
						<span class="time">August 2023 | by <a href="index.html">blogger</a></span> <a href="blog.html">This is just a place holder, so you can see what the site would look like</a>
					</li>
					<li>
						<span class="time">August 2023 | by <a href="index.html">blogger</a></span> <a href="blog.html">This is just a place holder, so you can see what the site would look like</a>
					</li>
					<li>
						<span class="time">August 2023 | by <a href="index.html">blogger</a></span> <a href="blog.html">This is just a place holder, so you can see what the site would look like</a>
					</li>
				</ul>
			</div>
			
			{{ include('MarketSymfonyBundle:Markets:service.html.twig') }}

		</div>
		
		{{ include('MarketSymfonyBundle:Markets:footer.html.twig') }}

	</div>

{% endblock %}