{% block inquiries -%}

<div class="section">
	<h5>for inquiries:</h5>
	<p>
		You can remove any link to our website from this website template, you're free to use this website template without linking back to us.
	</p>
		<h5>CALL</h5>
	<p>
		(222) 987 65 43 2100<br>(687) 123 45 67 8900
	</p>
		<h5>Email</h5>
	<p>
		email@company.com
	</p>
</div>

{% endblock %}