{% extends 'MarketSymfonyBundle:Markets:bases.html.twig' %}

{% block title %}
HT Rates
{% endblock %}

{% block body -%}

<div id="page">

	{{ include('MarketSymfonyBundle:Markets:table.html.twig') }}

		<div id="contents">
			<div id="rates">
				<p>
					This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forums/">Forum</a>.
				</p>
				<div id="sidebar">
					
					{{ include('MarketSymfonyBundle:Markets:inquiries.html.twig') }}

				</div>
				<ul class="list">
					<li>
						<div>
							<h5>$ 9,876.54</h5>
							<p>
								This is just a place holder, so you can see what the site would look like.
							</p>
						</div>
						<h5>This is just a place holder</h5>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae mauris non diam tincidunt elementum. Praesent sed ipsum vel nisl viverra porttitor pretium vel ante. Nullam quis ultrices orci.
						</p>
					</li>
					<li>
						<div>
							<h5>$ 3,210.00</h5>
							<p>
								This is just a place holder, so you can see what the site would look like.
							</p>
						</div>
						<h5>This is just a place holder</h5>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae mauris non diam tincidunt elementum. Praesent sed ipsum vel nisl viverra porttitor pretium vel ante. Nullam quis ultrices orci.
						</p>
					</li>
					<li>
						<div>
							<h5>$ 9,876.54</h5>
							<p>
								This is just a place holder, so you can see what the site would look like.
							</p>
						</div>
						<h5>This is just a place holder</h5>
						<p>
							Aenean augue sapien, fringilla ac malesuada at, commodo vitae nibh. Ut dui justo, porttitor sed iaculis mollis, pretium et elit. Sed eget tellus ac mauris tincidunt elementum. Ut iaculis, diam vel tempus interdum.
						</p>
					</li>
					<li>
						<div>
							<h5>$ 3,210.00</h5>
							<p>
								This is just a place holder, so you can see what the site would look like.
							</p>
						</div>
						<h5>This is just a place holder</h5>
						<p>
							Aenean augue sapien, fringilla ac malesuada at, commodo vitae nibh. Ut dui justo, porttitor sed iaculis mollis, pretium et elit. Sed eget tellus ac mauris tincidunt
						</p>
					</li>
				</ul>
			</div>
		</div>
		
		{{ include('MarketSymfonyBundle:Markets:footer.html.twig') }}

	</div>

{% endblock %}