{% block service %}

<div id="main">
	<h4>Sklep modelarski Modele-ad9bis.pl</h4>
	<p style="text-align: justify;">
		Poniżej znajdują się linki do niektórych pozycji z oferty internetowego sklepu modelarskiego Modele-ad9bis.pl. Oprócz sprzedaży artykułów modelarstwa kolejowego, Ad9bis służy poradami modelarskimi oraz (w zakresie dostępnych części zamiennych) prowadzi naprawy modeli kolejowych. <br>Serdecznie zapraszamy do zapoznania się z naszą ofertą!
	</p>
	<ul><b>
		<li>
			<p>
				<a href="http://modele-ad9bis.pl/content/3-regulamin-sklepu" target="blank" title="Regulamin">Regulamin sklepu Modele-ad9bis.pl</a>
			</p>
		</li>
		<li>
			<p>
				<a href="http://modele-ad9bis.pl/content/1-wysylka" target="blank" title="Wysyłka">Szczegóły dotyczące wysyłki towarów</a>
			</p>
		</li>
		<li>
			<p>
				<a href="http://modele-ad9bis.pl/promocje" target="blank" title="Produkty promocyjne">Produkty objęte aktualnie promocją</a>
			</p>
		</li>
		<li>
			<p>
				<a href="http://modele-ad9bis.pl/producenci" target="blank" title="Lista producentów">Lista dostępnych producentów</a>
			</p>
		</li>
		<li>
			<p>
				<a href="http://modele-ad9bis.pl/nowe-produkty" target="blank" title="Nowości">Nowości w ofercie sklepu</a>
			</p>
		</li>
		<li>
			<p>
				<a href="http://ad9bis.vot.pl/content/5-international-shipment" target="blank" title="International Shipment">International shipment charges</a>
			</p>
		</li>
		<li>
			<p>
				<a href="http://allegro.pl/listing/user/listing.php?us_id=16196586" target="blank" title="Aukcje Allegro">Nasze aukcje na Allegro</a>
			</p>
		</li>
	</ul></b>
	<a href="e-market" class="more">Modele-ad9bis.pl</a>
</div>

{% endblock %}
