{% block social -%}

<div class="section">
	<h3>Contact Details</h3>
	<ul>
		<li>
			<span>Location</span><strong>:</strong>
			<p>
				This is just a place holder, so you can see what the site would look like
			</p>
		</li>
		<li>
			<span>Phone</span><strong>:</strong>
			<p>
				(987) 654 321 000; (123) 000 456 789; 123 000 456 789
			</p>
		</li>
		<li>
			<span>Email</span><strong>:</strong>
			<p>
				This is just a place holder
			</p>
		</li>
		<li>
			<span>Social</span><a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter"></a><a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook"></a><a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" class="googleplus"></a>
		</li>
	</ul>
</div>

{% endblock -%}