{% block social -%}

<div class="section">
	<h3 style="font-family: Helvetica">Dane kontaktowe AD9BIS P.H.U.</h3>
	<ul>
		<li>
			<span>Adres</span><strong>:</strong>
			<p>
				ul. Świerkowa 22, 20-834 Lublin
			</p>
		</li>
		<li>
			<span>Telefon</span><strong>:</strong>
			<p>
				(48) 660413844
			</p>
		</li>
		<li>
			<span>www</span><strong>:</strong>
			<p>
				<a href="http://modele-ad9bis.pl/" target="blank" style="width:185px">Strona sklepu Modele-Ad9bis</a><br>
				<a href="http://ad9bis.vot.pl/" target="blank" style="width:230px">Nowa wersja sklepu internetowego</a>
			</p>
		</li>
	</ul>
</div>

{% endblock -%}
