{% block table -%}

<div id="header">
	<div class="background">
		<h1 id="logo" style="text-align: center;"> <a href="{{ app.request.getBaseURL() }}/terminarz/homepage">
		{% if notification %}
			{{ notification }}
		{% else %}
			Terminarz giełd modelarskich
		{% endif %}
		</a></h1>
		<div id="navigation">	
			<ul>
				{% for paths in url %}
					<li {% if path == paths.path %}class="selected"{% endif %}>
						<a href="{% if firstPage %}
						terminarz/
						{% endif %}
						{{ paths.path }}">
						{% if paths.path=='e-market' %}
						Modele-Ad9bis.pl
						{% else %}
						{{ paths.path }}
						{% endif %}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>

{% endblock -%}
