{% block table -%}

<div id="header">
	<div class="background">
		<h1 id="logo"> <a href="{{ app.request.getBaseURL() }}">Add the main text here</a> </h1>
		<div id="navigation">	
			<ul>
				{% for paths in url %}
					<li {% if path == paths.name %}class="selected"{% endif %}>
						<a href="{{ paths.path }}">{{ paths.name }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>

{% endblock -%}